{% extends 'books/base.html' %}
{% load static %}
{% block title %}
Sahifai asosi
{% endblock title %}
{% block content %}
                    <div class="tm-gallery">
                        <div class="row">
                            {% for book in books %}
                                <figure class="col-lg-3 col-md-4 col-sm-6 col-12 tm-gallery-item">
                                    <a href="{% url 'preview_page' book.pk %} ">
                                        <div class="tm-gallery-item-overlay">
                                            <img src="{{book.image.url}}" alt="Image" class="img-fluid tm-img-center" style="max-height:300px">
                                        </div>
                                        <p class="tm-figcaption">{{book.title}}</p>
                                    </a>
                                </figure>
                            {% endfor %}
                        </div>
                    </div>

                    <nav class="tm-gallery-nav">
                        <ul class="nav justify-content-center">
                            <li class="nav-item"><a class="nav-link active" href="#">1</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">2</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">3</a></li>
                            <li class="nav-item"><a class="nav-link" href="#">4</a></li>
                        </ul>
                    </nav>
{% endblock content %}




